<html> 
    <head> 
    	<title>Braver</title>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="/scripts/index.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/index.css">
		
    </head> 
    <body > 
    	<div class="homepage"> 
            <img class="logo" src="/assets/braver.png"/>
            <p class="text tagline"> "DON'T BELIEVE THE HYPE" </p>
        </div>
    </body> 
</html>