<html> 
    <head> 
    	<title>Braver Clothing Co.</title>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="/scripts/index.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
    </head> 
    <body > 
    	<div class="homepage"> 
            <img class="logo" src="/assets/braver.png"/>
            <p class="text tagline"> “THE BEST WAY TO PREDICT THE FUTURE IS TO CREATE IT” </p>
            <p class="text tagline quote"> – ABRAHAM LINCOLN </p>
        </div>

        <div class="footer"> 
                <p class="text footerText"> SPRING 2016</p>
                <a href="http://www.instagram.com/braver.way">
                    <i class="fa fa-instagram instagram"></i>
                </a>
                <a href="http://www.facebook.com/braverway">
                    <i class="fa fa-facebook facebook"></i>
                </a>
            </div>
        </div>
    </body> 
</html>